body{
    background-image: url(img/faded-office.png);
    background-size: cover;
      font-family: "Open Sans", sans-serif;
    color: #020202;

}
.info-box{
    
    margin: 50px 40px 100px 20px ;
    text-align: left;
    padding-right: 70px;
       
}

button{
    color: white;
    background-color: #0ea5e9;
    padding: 12px 24px;
    font-weight: 600;   
}
#underline{
    border-bottom: 4px solid #0ea5e9;
}

p{
    font-size: 20px;
}