body{
    background-image: url(img/faded-office.png);
    background-size: cover;
      font-family: "Open Sans", sans-serif;
    color: #020202;
    margin: 0;

}

h1{
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 0 0 5px #ffffff;
}

.info-box{
/*     
    margin: 50px 40px 100px 20px ; */
    text-align: left;
    padding:30px 60px;
       
}

button{
    color: white;
    background-color: #0ea5e9;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 600;
    border: none;   
}
#underline{
    border-bottom: 4px solid #0ea5e9;
}

p{
   font-size: 30px;
    text-shadow: 0 0 1px #ffffff;
}