.page{
    display: flex;
    justify-content: space-between;
}
.item1{
    margin-left: 10px;
    
}

.item2{
    margin-left: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
    height: 630px;
}

.star-image{
    width: 50px;
}